.form
{  
    display: flex;
    justify-content: center;
    /* flex-direction: row-reverse; */
}
.image
{
    width: 40vw;
    height: 100vh;
    padding: 5vw;
    margin: 5vw;
    
}

.form-input
{   
    width: 50vw;
    height: 100vh;
    padding:50px;
}

.form-inputs
{
    margin-bottom: 12px;
}