.success-body {
    text-align: center;
    padding: 40px 0;
    background: #EBF0F5;
    height: 100vh;
  }
.success-body > h1 {
    color: #88B04B;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
}
.success-body > p {
    color: #404F5E;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-size:20px;
    margin: 0;
}

.success-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    height: 86vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding: 60px;
    padding-top: 26vh;
    border-radius: 4px;
    box-shadow: 0 2px 10px #f8fafc;
    display: inline-block;
    margin: 0 auto;
  }